@model Du_An_One.Models.NHACUNGCAP

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NHACUNGCAP</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNhaCC" />
            <div class="form-group">
                <label asp-for="TenNhaCC" class="control-label"></label>
                <input asp-for="TenNhaCC" class="form-control" />
                <span asp-validation-for="TenNhaCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDT" class="control-label"></label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayThanhLap" class="control-label"></label>
                <input asp-for="NgayThanhLap" class="form-control" />
                <span asp-validation-for="NgayThanhLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiDaiDien" class="control-label"></label>
                <input asp-for="NguoiDaiDien" class="form-control" />
                <span asp-validation-for="NguoiDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianCungCap" class="control-label"></label>
                <input asp-for="ThoiGianCungCap" class="form-control" />
                <span asp-validation-for="ThoiGianCungCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrang" class="control-label"></label>
                <input asp-for="TinhTrang" class="form-control" />
                <span asp-validation-for="TinhTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
